@font-face {
 font-family: Bouquet;
 src: url(./accets/Bouquet.ttf);
}

h1 {
 font-family: Bouquet;
 color: blue;
}

h2, h4 {
 font-family: Comfortaa;
}

.header {
 background-color: whitesmoke;
}

.bg{
 background-color: whitesmoke;
}

.footer {
 background-color: whitesmoke;
}

.row {
 display: flex;;
}

.column {
 flex: 33.33%;
 padding: 5px 0 0 70px ;
}